@charset "utf-8";
/* CSS Document */
body
{
	font-family:"Candara", Arial, Helvetica, sans-serif;
	font-size:14px;
}

#contenedor
{
	width:1024px;
	height:1020px;
	margin:0 auto;
	background-color:#666a76;
}

/*contenido del header*/
header
{
	width:1024px;
	height:100px;
}

.logo
{
	float:left;
	width:210px;
	height:100px;
}

.link_header
{
	width:814px;
	float:right;
	height:100px;
}

.link_header ul
{
	margin-top: 70px;
	margin-left: 500px;
	padding:0;
}

.link_header ul li
{
	list-style:none;
	float:left;
	color:#fff;
}

.link_header ul li a
{
	text-decoration:none;
	padding:0 10px;
	color:#fff;
}

/*----------------------------------------------*/

/*menu horizontal*/
nav#main_menu
{
	width:1000px;
	height:50px;
	margin-left:12px;
	background-color:#690;
}

nav#main_menu ul
{
	margin:0;
	padding:0;
}

nav#main_menu ul li
{
	list-style:none;
	float:left;
}

nav#main_menu ul li a
{
	text-decoration:none;
	padding: 15px 10px;
	display:block;
	width:120px;
	color:#fff;
	text-align:center;
	border-right:1px solid #333;
}

/*----------------------------------------------------*/

/*banner*/
#banner
{
	width:1000px;
	height:150px;
	margin-left:12px;
	background-color:#fff;
	float:left;
}

#img_banner
{
	width:700px;
	height:150px;
	float:left;	
}

#carrito
{
	margin-top:5px;
	margin-right:5px;
	width:150px;
	float:right;
	background-color:#690;	
	padding: 10px 30px 10px 30px;
}

#carrito .titulo
{
	margin:0;
	font-weight:bold;
}

/*----------------------------------------------------------*/

/*seccion izquierda*/
aside#izq
{
	margin-left:12px;
	width:200px;
	height:660px;
	float:left;
	background-color:#CCC;
}

aside#izq .titulo
{
	width:190px;
	padding: 10px 0px 10px 10px;
	background-color:#690;	
	color:#fff;
	font-weight:bold;
}

aside#izq nav
{
	width:200px;
	height:600px;
	background-color:#CCC;
}

aside#izq nav ul
{
	margin:0;
	padding:0;
}

aside#izq nav ul li
{
	list-style:none;
	float:left;
}

aside#izq nav ul li a
{
	text-decoration:none;
	width:190px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 10px;
	display:block;
	color:#000;
	border-bottom:1px solid #999;
}

aside#izq nav ul li a:hover
{
	background-color:#eee;
}


/*---------------------------------------------------*/

section
{
	background-color:#fff;
	float:left;
	width:590px;
	height:660px;
}

section .titulo
{
	width:570px;
	margin-left: 5px;
	padding: 10px 0px 10px 10px;
	color:#fff;
	font-weight:bold;
	background-color:#906;
}

section article
{
	width:570px;
	overflow:auto;
	height:595px;
	padding: 10px 0px 10px 10px;
	margin-left:5px;
}

section #datos
{
	width:570px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 10px 0px 10px 10px;
	color:#333;
	font-weight:bold;
	background-color:#C99;
}

section article #subtotal
{
	float:left;
	width:433px;
	text-align:right;
	padding: 2px 5px 2px 0px;
}


section article #monto_subtotal
{
	float:left;
	width:130px;
	text-align:right;
	background-color:#999;
	padding: 2px 0px 2px 2px;
}
/*---------------------------------------------------*/

aside#der
{
	width:210px;
	height:660px;
	float:left;
	background-color:#fff;
}

aside#der .titulo
{
	width:200px;
	padding: 10px 0px 10px 10px;
	background-color:#690;
	color:#fff;
	font-weight:bold;
}

aside#der .contenido ul
{
	margin-left: 5px;	
}

aside#der .contenido li
{
	padding:5px 0;
}

aside#der .contenido li a
{
	color:#000;	
}

aside#der p.titulo_noticia
{
	margin:0;
	font-weight:bold;
}

aside#der p.sumilla
{
	margin:0;
	font-size:12px;
}

/*---------------------------------------------------*/

footer
{
	width:1000px;
	margin-left:12px;
	height:65px;
	float:left;
	text-align:center;
	color:#fff;
}


/*----------------------------------------------------------------*/
/*Otros elementos*/
/*------------------------------------------------------------------*/

ul
{
	list-style:none;
	padding:0;
}

ul li a
{
 	text-decoration:none;
}	
